*{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
    background-color: #FFFAFA;
}

.name, .email, .language, .about {
    margin-bottom: 1%;
    font-size: 20px;
}

button {
    padding: 5px;
    border-radius: 10px;
}